{{define "messages_list.html"}}
{{template "header" .}}
<div class="panel">
  <h2>{{.Conference.Name}}</h2>
  <p class="meta">{{.Conference.Description}}</p>
  <p>
    <a href="/messages">{{t .Locale "common.all_areas_back"}}</a>
    {{if .CanWrite}} · <a href="/messages/post?conf={{.Conference.ID}}">{{t .Locale "messages_list.post_new"}}</a>{{end}}
  </p>
  <table>
    <thead><tr><th>{{t .Locale "messages_list.col.num"}}</th><th>{{t .Locale "common.from"}}</th><th>{{t .Locale "common.subject"}}</th><th>{{t .Locale "common.date"}}</th></tr></thead>
    <tbody>
    {{range .Messages}}
    <tr>
      <td>{{.MsgNumber}}</td>
      <td>{{.FromName}}</td>
      <td><a href="/messages/read?conf={{$.Conference.ID}}&amp;num={{.MsgNumber}}">{{.Subject}}</a></td>
      <td class="meta">{{.DatePosted.Format "2006-01-02 15:04"}}</td>
    </tr>
    {{else}}
    <tr><td colspan="4">{{t .Locale "messages_list.empty"}}</td></tr>
    {{end}}
    </tbody>
  </table>
</div>
{{template "footer" .}}
{{end}}
