{{define "share_created.html"}}
{{template "header" .}}
<div class="card mb-3">
  <div class="card-header"><h2 class="h5 mb-0">{{t .Locale "share_created.title"}}</h2></div>
  <div class="card-body">
  <p>{{t .Locale "share_created.help"}}</p>
  <p><input type="text" readonly value="{{.URL}}" class="form-control share-url" onclick="this.select()"></p>
  <p><a href="{{.URL}}" target="_blank">{{t .Locale "common.open_shared"}}</a></p>
  <p><a href="/menu">{{t .Locale "common.dashboard_back"}}</a></p>
  </div>
</div>
{{template "footer" .}}
{{end}}
